:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.container {
  outline: 1px solid red;

  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
  background-color: var(--main-bg-color);
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  margin-right: 120px;
}

.logo-accent {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-link-list {
  display: flex;
  align-items: center;
}
.header-link-accent {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-right: 50px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-right: 50px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-link-last {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  margin-right: 0;
}

.header-list-contact {
  display: flex;
  margin-left: auto;
}

.header-link-mail {
  text-decoration: none;
  width: 135px;
  height: 16px;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  margin-right: 50px;
}

.header-link-phone {
  text-decoration: none;
  width: 135px;
  height: 16px;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-link-last:hover {
  color: var(--accent-color);
}
.header-link-last:focus {
  color: var(--accent-color);
}
.header-link:hover {
  color: var(--accent-color);
}
.header-link:focus {
  color: var(--accent-color);
}
.header-link-accent:hover {
  color: var(--accent-color);
}
.header-link-accent:focus {
  color: var(--accent-color);
}
.header-link-mail:hover {
  color: var(--accent-color);
}
.header-link-mail:focus {
  color: var(--accent-color);
}

.header-link-phone:hover {
  color: var(--accent-color);
}
.header-link-phone:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-section {
  background-color: var(--dark-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  text-align: center;
  font-family: var(--main-font);

  margin-bottom: 30px;
}
.hero-button {
  margin: 0 auto;
  display: block;

  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #1875c1;
}
/* Our activity */
.our-activity-section {
  background: var(--main-bg-color);
}
.our-activity-list {
  display: flex;
}
.our-activity-items {
  margin-right: 30px;
}

.detail-list-item {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.detail-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 72px;
  flex-shrink: 0;

  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}
.punctuality-list-item {
  width: 270px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.punctuality-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 48px;
  flex-shrink: 0;

  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}
.diligence-list-item {
  width: 270px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.diligence-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 48px;
  flex-shrink: 0;

  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}
.technologie-list-item {
  font-size: 14px;
  width: 270px;
  height: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.technologies-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 72px;
  flex-shrink: 0;

  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}
.our-activity-title {
  font-family: var(--main-font);
  text-align: center;

  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 50px;
}

/* Activity images */
.activity-images {
  display: flex;
  justify-content: center;
}
.img-box-activity {
  margin-right: 30px;
}
.img-box-activity:last-child {
  margin-right: 0px;
}
/* Our team */
.team-img {
  margin-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
}
.our-team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.team-members {
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 368px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;

  margin-right: 30px;
}
.team-members:last-child {
  margin-right: 0;
}
.team-proffesion {
  margin-bottom: 30px;
}
.our-team-section {
  background: var(--secondary-bg-color);
}
.product-designer-name {
  color: var(--main-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.product-designer-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.frontend-developer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.frontend-developer-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.marketing-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.marketing-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.ul-designer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.ul-designer-profession {
  color: var(--secondary-text-color);
  text-align: center;

  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

/* Footer */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--dark-bg-color);
}
.logo-footer {
  text-decoration: none;
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  margin-bottom: 20px;
}
.logo-footer-accent {
  color: var(--accent-color);
  font-family: Raleway bold;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-text {
  font-style: normal;
  color: #fff;

  letter-spacing: 0.42px;
}

.footer-contacts {
  text-align: left;
}
.footer-link {
  justify-content: left;
  font-style: normal;
  text-decoration: none;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.42px;
}
.footer-link:hover {
  color: var(--accent-color);
}
.footer-link:focus {
  color: var(--accent-color);
}

/* portfolio */
.portfolio-links-list {
  font-family: var(--main-font);
}

.header-link-portfolio {
  font-weight: 500;
  width: 216px;
  height: 50px;
  color: var(--accent-color);
  text-decoration: none;
}

.portfoli-item-link {
  text-decoration: none;
}
.filters-items-button {
  background: var(--secondary-bg-color);
  border-radius: 4px;
  flex-shrink: 0;
}
.filters-items-button:hover {
  background: var(--accent-color);
  color: #fff;
}
.filters-items-button:focus {
  background: var(--accent-color);
  color: #fff;
}

.filters-items-button-accent {
  border-radius: 4px;
  width: 73px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.portfolio-product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-product {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
